{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "strict": [ 0, "global" ],
    "quotes": [ 2, "single" ],
    "semi": 2,
    "no-native-reassign": 2,
    "block-spacing": 2,
    "space-infix-ops": 2,
    "arrow-spacing": 2,
    "spaced-comment": 2,
    "keyword-spacing": 2,
    "space-in-parens": [ 2, "always" ],
    "array-bracket-spacing": [ 2, "always" ],
    "object-curly-spacing": [ 2, "always" ],
    "comma-spacing": [ 2, {
      "before": false,
      "after": true
    } ]
  },
  "globals": {
    "expect": true,
    "sinon": true
  }
}
