.battleships-dark {
	--battleships-font-color: #d4d3d3;
	--battleships-font-family: Arial, sans-serif;
	--battleships-font-size: 16px;
	--battleships-background-color: #000;
	--battleships-border-radius: 4px;

	--battleships-button-color: #d4d3d3;
	--battleships-button-background-color: #000;
	--battleships-button-border-color: #bdbdbd;
	--battleships-button-hover-color: #000;
	--battleships-button-hover-background-color: #e1e1e1;
	--battleships-tooltip-color: #000;
	--battleships-tooltip-background-color: #fff;

	--battleships-input-color: #fff;
	--battleships-input-background-color: #3a3a3a;

	--battleships-field-border-color: #fff;
	--battleships-field-grid-color: #585858;
	--battleships-field-background-color: #000;

	--battleships-aim-background: rgba(255, 255, 255, .3);
	--battleships-stamp-missed: rgba(255, 0, 0, .5);
	--battleships-stamp-hit: rgba(0, 255, 0, .45);

	--battleships-ship-border-color: #dadada;
	--battleships-ship-background-color: rgba(255,255,255,.4);
	--battleships-ship-collision-border-color: #dc3545;
	--battleships-ship-collision-background-color: rgba(197,144,140,.6);

	.battlefield.inactive {
		opacity: .4;
	}

	footer svg {
		fill: #fff;
	}
}
