.battleships {
	* {
		box-sizing: border-box;
	}

	.buttons {
		padding-bottom: 10px;

		button {
			margin: 0 5px;
		}
	}

	&-battlefields {
		display: flex;
		justify-content: space-between;

		.battlefield {
			border: solid 1px #9d9d9d;
			position: relative;
			padding: 0 1px 1px 0;

			&:not(.invite) {
				background: url('../images/border.svg');
			}

			&.inactive {
				opacity: .2;
			}

			&.invite {
				padding: 10px;
			}

			.ship {
				border: solid 2px #000;
				position: absolute;
				margin: -1px 0 0 -1px;

				&.rotated {
					transform: rotate( 90deg );
				}

				&.collision {
					border-color: red;
				}
			}

			.aim {
				position: absolute;
				background: rgba( 100, 100, 100, .2 );
				display: none;

				&.active {
					display: block;
				}
			}

			.marker {
				position: absolute;
				background: rgba(255,0,0,.3);

				&.missed {
					background: rgba(255,0,0,.3);
				}

				&.hit {
					background: rgba(0,255,0,.3);
				}
			}
		}
	}

	input {
		font-size: 16px;
		width: 100%;
		display: block;
		padding: 5px;
	}
}
