.battleships {
	font-family: Arial, sans-serif;
	font-size: 16px;

	&, * {
		box-sizing: border-box;
	}

	.menu {
		text-align: left;
		padding: 10px 0;
	}

	.wrapper {
		margin: 0 auto;
		display: inline-block;

		.fields-container {
			display: flex;
			justify-content: space-between;
		}
	}

	.field {
		border: solid 1px #757575;
		position: relative;
		padding: 10px;

		&.battlefield {
			background: url('../images/border.svg');
			padding: 0 1px 1px 0;
			transition: opacity .5s;

			&.inactive {
				opacity: .2;
			}

			.ship {
				border: solid 2px #000;
				position: absolute;
				margin: -1px 0 0 -1px;

				&.collision {
					border-color: red;
				}
			}

			.aim {
				position: absolute;
				background: rgba(100, 100, 100, .2);
				display: none;

				&.active {
					display: block;
				}
			}

			.marker {
				position: absolute;
				background: rgba(255, 0, 0, .3);

				&.missed {
					background: rgba(255, 0, 0, .3);
				}

				&.hit {
					background: rgba(0, 255, 0, .3);
				}
			}
		}

		&.invite {
			.input-group {
				display: flex;
				align-content: space-between;

				input {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}

				button {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					border-left: 0;
					width: 90px;
				}
			}
		}
	}

	button {
		font-size: 1em;
		border: solid 1px #555;
		color: #555;
		background: #fff;
		padding: 5px 10px 6px;
		border-radius: 4px;
		transition: .08s;
		transition-property: color, background;

		&[disabled] {
			opacity: 0.5;
		}

		&:hover:not([disabled]) {
			background: #e1e1e1;
			color: #000;
		}
	}

	input {
		font-size: 1em;
		width: 100%;
		padding: 5px;
		border: solid 1px #9d9d9d;
		border-radius: 4px;
	}

	.settings {
		.settings-button {
			position: relative;
			z-index: 1;
		}

		&.active {
			.settings-button {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		.settings-panel {
			position: absolute;
			right: 0;
			width: 395px;
			text-align: left;
			border: solid 1px #9c9c9c;
			background: #fff;
			padding: 20px;
			outline: 0;
			transform: translateY( -1px );

			& > p {
				margin-bottom: 0;
			}

			input {
				font-size: 14px;
				padding: 2px 5px 3px;
				width: 48px;
				text-align: center;
			}

			button {
				font-size: 14px;
				padding: 2px 5px 3px;
			}

			ul, li {
				list-style: none;
				padding: 0;
				margin: 0;
			}

			li {
				&:not(:first-child) {
					margin-top: 4px;
				}

				input {
					margin-right: 10px;
				}
			}
		}
	}
}
